.newUser{
  flex:4;
}

.newUserForm{
  display: flex;
  flex-wrap:wrap;
}

.newUserItem{
  width:400px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right:20px;
}

.newUserItem>label{
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 14px;
  color:gray;
}

.newUserItem>input{
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.newUserGender>input{
  margin-top: 15px;

}

.newUserGender>label{
  margin: 10px;
  font-size: 18px;
  color: #555;
}

.newUserSelect{
  height: 40px;
  border-radius:5px;
  border: 1px solid lightgray;
}

.newUserButton{
  width: 600;
  border: none;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  padding: 7px 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 20px;
}