.product{
  flex:4;
  padding: 20px;
}

.productTitleContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productTitle{
  font-size: 24px;
  font-weight: 600;
}

.productAddButton{
  border: none;
  border-radius: 10px;
  width: 80px;
  padding:5px 10px;
  background-color: teal;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}