.user{
  flex:4;
  padding: 20px;
}

.userTitleContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userAddButton{
  width: 80px;
  padding: 5px ;
  border:none;
  border-radius: 5px;
  background-color: teal;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.userContainer{
  display: flex;
}

.userShow{
  flex:1;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.userUpdate{
  flex:1;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

 


















