.user{
  flex:4;
  padding: 20px;
}

.userTitleContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userAddButton{
  width: 80px;
  padding: 5px ;
  border:none;
  border-radius: 5px;
  background-color: teal;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.userContainer{
  display: flex;
  margin-top: 20px;
}

.userShow{
  flex:1;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.userUpdate{
  flex:2;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  margin-left: 20px;
}

.userShowTop{
  display: flex;
  align-items: center;
}

.userShowImg{
  width:40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.userShowTopTitle{
   display: flex;
    flex-direction: column;
    margin-left: 10px;
}
 
.userShowUsername{
  font-weight: 600;
}

.userShowUserTitle{
  font-weight:300;
}


.userShowTitle{
  font-size: 14px;
  font-weight: 600;
  color:rgb(175,170,170)
}
 
.userShowBottom{
  margin-top: 20px;
}

.userShowInfo{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  color: #444;
}

.userShowIcon{
  font-size: 16px !important;
}

.userShowInfoTitle{
  margin-left: 20px;
   
}














