.widgetLg{
  flex:2;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  padding:20px;
}

.widgetLgImg{
  width:40px;
  height:40px;
  border-radius:50%;
}

.widgetLgButton{
  padding:5px 7px;
  border:none;
  border-radius:10px;
}

.widgetLgButton.Approved{
  background-color:#e5faf2;
  
}

.widgetLgButton.Pending{
  background-color:#fff0f1;
  
}

.widgetLgButton.Declined{
  background-color:#3bb077;
  
}